*{
  font-family: arial;
  font-size: 1em;
}

h6{
  margin-top: 1em;
}

.app{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 30px 1fr 2fr;
  grid-template-areas:
  "search search search"
  "main detail detail"
  "main detail detail"
}

.search {
  grid-area: search;
}

.list {
  grid-area: main;
  margin-right: 15px;
}

.result{
  padding: 5px;
}

.result:hover{
  cursor: pointer;
}

.details {
  grid-area: detail;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
  "title title title"
  "genre genre genre"
  "awards others others"
}

.title{
  grid-area: title;
  font-size: 20px;
}

.awards{
  grid-area: awards;
  padding-left: 20px;
}

.cast{
  padding-left: 20px;
}

.award {
}

.award-detail{
  font-size: 10px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
}

.loader{
  font-size: 10em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
