.app{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 30px 1fr 2fr;
  grid-template-areas:
  "search search search"
  "main detail detail"
  "main detail detail"
}

.search {
  grid-area: search;
}

.list {
  grid-area: main;
}

.details {
  grid-area: detail;
}

.loader{
  font-size: 10em;
}
